html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: linear-gradient( 129.6deg,  rgb(156, 85, 226) 11.2%, rgb(37, 1, 73) 91.1% );
}

header {
  backdrop-filter: blur(10px);
  color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  padding-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  padding-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul.nav-left {
  justify-content: flex-start;
}

nav ul.nav-right {
  justify-content: flex-end;
  margin-left: auto;
}

nav ul li {
  margin-left: 60px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 50%;
  top: 20px;
  background-color: #fff;
  transition: width 0.5s ease, left 0.5s ease;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

.resume-button {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.7s, transform 0.7s;
  text-decoration: none; 
  border: 2px solid transparent; 
}

.resume-button:hover {
  background-color: black;
  color: white;
  border: 2px solid white; 
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: white;
  font-size: 3em;
  margin: 0 15px;
  transition: color 0.3s, transform 0.3s;
}

social-icons a:hover {
  color: #f1f1f1;
  transform: scale(1.2);
}

section {
  padding: 60px 20px;
  height: 100vh; /* Ensure sections are full screen height */
  width: 100vw;
}

#home {
  background: rgba(0,0,0,0.7) url("Modern.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-blend-mode: darken;
  transform: translateY(-80px);
}

.content {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.large-text {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.sub-text {
  text-align: center;
  font-size: 5em;
  margin: 0;
  margin-bottom: 50px;
}

.very-large-text {
  font-weight: bolder;
  text-align: center;
}

#about {
  background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
  padding: 50px;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  transform: translateY(-80px);
}

#about h1 {
  color: white;
  font-size: 3em;
  font-weight: bold;
  margin: auto;
  width: 100%;
}

#about .text {
  width: 45%;
  color: white;
  text-align: left;
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 100px;
}

#about .image {
  width: 45%;
  text-align: center;
  margin-bottom: 100px;
}

#about .image img {
  max-width: 100%;
  border-radius: 43% 57% 70% 30% / 43% 50% 50% 57% ; 
  object-fit: cover;
  object-position: center;
  height: 400px;
  padding-top: 0px;
}

#skills {
  background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
  text-align: center;
  transform: translateY(-80px);
}

#skills h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 50px;
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: center; 
  gap: 20px; 
  flex-wrap: wrap; 
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px; 
  height: 150px;
  background-image: linear-gradient( 134.6deg,  rgba(201,37,107,1) 15.4%, rgba(116,16,124,1) 74.7% );
  border: 2px solid #860069;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s;
  padding: 10px; 
  color: #fff; 
}

.skill-box img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.skill-box p {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
}

.skill-box:hover {
  transform: scale(1.2);
}

#projects {
  background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
  text-align: center;
  transform: translateY(-80px);
}

#projects h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 50px;
}

#education {
  background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
  text-align: center;
  padding: 50px 0;
  transform: translateY(-80px);
}

#education h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 50px;
}

.timeline {
  position: relative;
  max-width: 60%;
  margin: 0 auto;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #ddd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  z-index: -1;
}

.timeline-box {
  background-color: white;
  border: 2px solid #4b0081;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  text-align: center;
  transition: transform 0.3s;
}

.timeline-box:hover {
  transform: scale(1.1);
}


.timeline-box h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #4b0081;
}

.timeline-box p {
  margin: 0 0 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: #692a96;
}

.timeline-box .date {
  display: block;
  font-size: 1em;
  color: #000000;
}

#contact {
  background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
  text-align: center;
  transform: translateY(-80px);
}

#contact h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 50px;
}

.contact-container {
    margin-left: 200px;
    display: flex;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 80%;
    max-width: 1000px;
    height: auto;  
}

.contact-form, .contact-info {
    padding: 20px;
}

.contact-form {
    flex: 1;
    padding: 40px;
}

.contact-form h1 {
    text-align: center;
    color: #00FF7F;
}

.contact-form p {
    margin-bottom: 20px;
    color: #bbbbbb;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    color: #bbbbbb;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: white;
}

.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.recaptcha {
    margin-bottom: 20px;
}

.contact-form button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #8309bb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #af11df;
}

.contact-info {
    background-color: #2e2e2e;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bbbbbb;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.contact-info ul li {
    margin-bottom: 15px;
}

.contact-info ul li i {
    margin-right: 10px;
    color: #00FF7F;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #bbbbbb;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
    transition: transform 0.3s;
}

.social-icons a:hover {
    color: #00FF7F;
    transform: scale(1.2);
}

.marquee {
  margin: 0%;
  animation: marquee 15s linear infinite;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: white;
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}